$titlefc:#353535;
$contentfc:#6d6d6d;
$orange:#ff9515;
$border:#dcdddd;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-size: 14px;
    border: none;
}
.flex{
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.column{
    flex-direction: column;
}
.wrap{
    width: 100%
}
.container{
    width: 1200px;
    margin: 0 auto;
}
body{
    overflow-x: hidden;
    background-color: #efefef;
}
.display-title{
        height: 180px;
        justify-content: center;
}
@mixin bdb($px:1px){
    border-bottom: $px solid $border;
}
.bigfont{
    font-size: 22px;
    color: $orange;
}
.titlefont{
    font-size: 22px;
    color:$titlefc;
}
.headerwrap{
    background-color: #fff;
  }
.header {
    padding: 10px 0 0;
    .logo {
      span {
        color: #888;
        font-size: 24px;
        font-weight: 600;
      }
      span {
        margin-top: 16px;
        margin-left: 10px;
      }
    }
    .nav {
      margin-top: 20px;
      .user {
        > div {
          margin-right: 10px;
          background: url('../../static/img/user-photo.png') no-repeat center/cover;
          border-radius: 50%;
          width: 40px;
          height: 40px;
        }
        span {
          font-size: 14px;
          color: $contentfc;
        }
      }
      ul {
        li {
          &.active,
          &:hover {
            a {
              background-color: #efefef;
              color: $titlefc;
              border-bottom: 4px solid #efefef;
            }
          }
          &.active{
            a{
              border-bottom: 4px solid #9fc105;
            }
          }
          a {
            width: 98px;
            height: 44px;
            text-align: center;
            line-height: 44px;
            font-size: 16px;
            color: $contentfc;
            display: block;
          }
        }
      }
    }
  }

  /* footer */
.footer-wrap{
    margin-top: 30px;
    background-color: #353535;
    .footer-top-inner{
        padding: 60px 0;
        border-bottom: 1px solid #6d6d6d;
        .footer-top {
            width: 1200px;
            margin: 0 auto;
            .footer-top-list {
                display: flex;
                justify-content: space-between;
                .footer-top-item {
                    i{
                        width: 122px;
                        height: 122px;
                        display: inline-block;
                        background:url("../../static/img/资源 39.png") center center no-repeat;
                    }
                    
                    h2{
                        font-weight: 400;
                        text-align: center;
                        font-size: 24px;
                        color: #ff941b;
                        margin: 10px 0 10px 0;
                    }
                    p{
                        text-align: center;
                        color: #dcdcdc;
                        font-size: 14px;
                    }
                    .xiangqing{
                        margin-top: 10px;
                        display: inline-block;
                        text-align: center;
                        width: 100px;
                        height: 34px;
                        line-height: 24px;
                        padding: 5px 10px;
                        border-radius: 34px;
                        border: 1px solid #ff941b;
                        color: #ff941b;  
                        margin-left: 10px;
                    }
                }
                .footer-top-item:nth-child(2){
                    i{
                        background-image:url("../../static/img/资源 40.png");
                    }
                }
                .footer-top-item:nth-child(3){
                    i{
                        background-image:url("../../static/img/资源 41.png");
                    }
                }
                .footer-top-item:last-child{
                    i{
                        background-image:url("../../static/img/资源 42.png");
                    }
                }
            }
        }
    }
    .footer-bottom {
        color: #dcdcdc;
        padding: 60px 0;
        width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .footer-left {
            display: flex;
            justify-content: space-between;
            .footer-left-item {
                width: 180px;
                .footer-about {
                    font-size: 14px;
                }
                .footer-left-list {
                    li {
                        margin: 5px 0;
                    }
                }
            }
        }
        .footer-right {
            h4{
                margin: 10px 0 15px 0;
            }
  
        }
  }  
  }