* {
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    border: none;
}

body {
    background-color: #efefef;
}

a {
    text-decoration: none;
    color: #000;
}

.famous-img {
    width: 1200px;
    margin: 0 auto;
    .famous-img img {
        width: 100%;
        height: 100%;
    }
}

.famous-buttom {
    width: 1200px;
    margin: 30px auto;
    display: flex;
    .jishu {
        width: 260px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        background-color: #fff;
        border: 1px solid #cccccc;
        font-size: 18px;
        a {
            i {
                display: inline-block;
                width: 31px;
                height: 40px;
                background: url("../../static/img/resource\ 16.png") center center no-repeat;
                margin-right: 20px;
                vertical-align: -10px;
            }
            color: #6c6c6c;
        }
    }
    .jishu.active {
        background-color: #9bb700;
        a {
            color: #fff;
            i {
                background: url("../../static/img/resource\ 14.png") center center no-repeat;
            }
        }
    }
    .banzhuren.active {
        a {
            i {
                background: url("../../static/img/resource\ 17.png") center center no-repeat;
            }
        }
    }
    .banzhuren {
        a {
            i {
                background: url("../../static/img/resource\ 15.png") center center no-repeat;
            }
        }
    }
}

.jishi-content {
    width: 1200px;
    margin: 0 auto;
    .jishu-wrap {
        .teacher-list {
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            transition: all .5s;
            .teacher-item {
                width: 388px;
                height: 360px;
                background-color: #fff;
                margin-bottom: 18px;
                .list-top {
                    box-sizing: border-box;
                    padding: 20px 25px;
                    display: flex;
                    .pic {
                        width: 100px;
                        height: 100px;
                        background: url("../../static/img/hr-photo.png") no-repeat center/100% 100%;
                    }
                    .teacher-info {
                        margin-left: 16px;
                        .teacher-top {
                            display: flex;
                            justify-content: space-around;
                            .name {
                                font-size: 22px;
                                font-weight: 400;
                            }
                            .exprience {
                                margin: 10px 0 0 20px;
                                color: #6f6f6f;
                            }
                        }
                    }
                    .best {
                        color: #ff9514;
                        margin: 12px 0;
                    }
                    .video {
                        display: inline-block;
                        width: 116px;
                        height: 34px;
                        background: url("../../static/img/资源 33.png");
                    }
                    .video:hover {
                        background: url("../../static/img/资源 34.png");
                    }
                }
                .list-middle {
                    border-top: 1px solid #dddddd;
                    .list {
                        box-sizing: border-box;
                        padding: 10px 25px;
                        .item {
                            padding: 5px 0;
                            color: #6f6f6f;
                        }
                    }
                }
                .list-bottom {
                    padding: 0 25px;
                    .pingjia {
                        color: #ff9514;
                    }
                    .pingjia-content {
                        span {
                            display: inline-block;
                            color: #b0b0b0;
                            margin: 5px 10px 0 0;
                        }
                    }
                }
            }
        }
    }
    .banzhuren-wrap {
        display: none;
        .teacher-list {
            .teacher-item {
                height: 320px;
                display: flex;
                .teacher-left {
                    text-align: center;
                    width: 170px;
                    .video {
                        margin-top: 10px;
                        display: inline-block;
                        width: 116px;
                        height: 34px;
                        background: url("../../static/img/资源 33.png");
                    }
                    .video:hover {
                        background: url("../../static/img/资源 34.png");
                    }
                }
                .teacher-right {
                    padding: 17px;
                    .teacher-top {
                        .name {
                            font-size: 22px;
                            font-weight: 400;
                        }
                        .exprience {
                            margin-top: 10px;
                            color: #6f6f6f;
                        }
                    }
                    .teacher-center,
                    .teacher-bottom {
                        .say {
                            color: #ff9514;
                            margin: 10px 0 5px 0;
                        }
                        .say-content {
                            color: #6f6f6f;
                            line-height: 24px;
                        }
                    }
                }
            }
        }
    }
}